-
	let	array_slider = [
			{
				title: 'Bespoke made, quality assured',
				content_title: 'Limited Editions',
				content_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.',
				image: {
					src: 'section-image/item5.jpg',
					alt: 'image item 5',
					mob: 'section-image/item5_mob.jpg',
				},
			},
			{
				title: 'A place for makers alike',
				content_title: 'Limited',
				content_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.',
				image: {
					src: 'section-image/item4.jpg',
					alt: 'image item 4',
					mob: 'section-image/item4_mob.jpg',
				},
			},
			{
				title: 'Bespoke made, quality assured',
				content_title: 'Editions',
				content_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, 	phasellus neque.',
				image: {
					src: 'section-image/item3.jpg',
					alt: 'image item 3',
					mob: 'section-image/item3_mob.jpg',
				},
			}
		];

section.section.slider_section
	.slider_section_swiper.someSlider.swiper
		ul.slider_section__list.swiper-wrapper
			each slide in array_slider
				li.slider_section__item.swiper-slide
					.slider_section_slide
						.slider_section_slide__content_left
							h2.slider_section_slide__title.titleAnim= slide.title
							.slider_section_slide__content_tablet.textAnim
								h3.slider_section_slide__content_title= slide.content_title
								p.slider_section_slide__content_text= slide.content_text
								.slider_section_slide__content_arrows
									button.slider_section_slide__content_arrow.slider_section_slide__content_arrow--prev(type='button')
										+icon( 'arrow-prev' , 'icon--size_mod')
									button.slider_section_slide__content_arrow.slider_section_slide__content_arrow--next(type='button')
										+icon( 'arrow-next' , 'icon--size_mod')
						.slider_section_slide__image_wrap.imageAnim
							+picture({
								media: 768,
								is2x: false,
								img: slide.image.src,
								img_mob: slide.image.mob,
								class: 'slider_section_slide__picture',
								img_class: 'slider_section_slide__image',
								alt: slide.image.alt,
								loading: 'lazy'
							})
						.slider_section_slide__content_right.textAnim
							h3.slider_section_slide__content_title= slide.content_title
							p.slider_section_slide__content_text= slide.content_text
							.slider_section_slide__content_arrows
								button.slider_section_slide__content_arrow.slider_section_slide__content_arrow--prev(type='button')
									+icon( 'arrow-prev' , 'icon--size_mod')
								button.slider_section_slide__content_arrow.slider_section_slide__content_arrow--next(type='button')
									+icon( 'arrow-next' , 'icon--size_mod')