mixin image_left (array)
	section.section.image_left
		.section_in
			each item in array
				.image_left_in
					if item.image_left
						.image_left__body_img(class= "imageAnim")
							+picture({
								img: item.image_left,
								class: 'image_left__img_in',
								img_class: 'image_left__img',
								alt: 'image item',
							})
					.image_left__content(class=item.style_mod)
						if item.buttom
							.image_left__link
								a.image_left__link_btn(href="#")= item.buttom
						if item.title
							h3.image_left__title.titleAnim= item.title
								if item.text_decor
									sup.image_left__title_decor= item.text_decor
						if item.text
							.image_left__text.textAnim(class=item.style_text_mod)!= item.text
					if item.image_right
						.image_left__body_img.imageAnim
							+picture({
								img: item.image_right,
								class: 'image_left__img_in',
								img_class: 'image_left__img',
								alt: 'image item',
							})